.App {
  background-image: url(../img/space-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 100vw;
  min-height: 100vh;
}

.App__header {
  background: linear-gradient(
    rgba(14, 7, 7, 1) 0%,
    rgba(14, 7, 7, 1) 70%,
    rgba(14, 7, 7, 0)
  );
  position: absolute;
  top: 0;
  width: 100vw;
  height: 70px;
  padding-top: 15px;
  display: grid;
  grid-template-columns: 2fr 2fr;
  align-items: center;
  font-size: 20px;
  color: var(--white);
}

.App__header-logo {
  height: 25px;
  pointer-events: none;
  /* background-color: cyan; */
  padding-left: 40px;
  cursor: pointer;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */

.App__header-link {
  color: var(--white);
  font-size: 20px;
  padding-right: 40px;
  text-align: right;
  /* background-color: greenyellow; */
  position: relative;
  cursor: pointer;
}

.App__header-pfp {
  display: flex;
  justify-content: right;
  padding-right: 40px;
}

.App__header-pfp-icon {
  color: var(--white);
  font-size: 20px;
  width: 26px;
  height: 26px;
  padding: 10px;
  border-radius: 100%;
  text-align: center;
  background-color: var(--blue);
  cursor: pointer;
}

.App__section {
  padding: 150px 10%;
  background: linear-gradient(
    rgba(14, 7, 7, 0) 0%,
    rgba(14, 7, 7, 0.6) 20%,
    rgba(14, 7, 7, 0.4) 60%,
    rgba(14, 7, 7, 0)
  );
}

.App__section-top {
  text-align: center;
  /* background-color: orange; */
  padding: 0;
  margin: 0;
}

.App__section-filter {
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin-top: 10px;
}

#filter-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  gap: 10px;
}

.App__section-filter-option {
  display: grid;
  grid-template-columns: 1fr 0.4fr;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 30px;
}

#activity {
  display: block;
  opacity: 1;
  cursor: pointer;
}

#workshop {
  display: block;
  opacity: 1;
  cursor: pointer;
}

#tech_talk {
  display: block;
  opacity: 1;
  cursor: pointer;
}

.unselected {
  opacity: 0.4  !important;
}

.App__section-filter-option-left {
  padding-left: 15px;
}

.App__section-filter-option-right {
  text-align: right;
}
.App__section-filter img {
  height: 12px;
  width: auto;
  padding: 0 15px;
}

.App__section-filter-option {
  border-radius: 30px;
  background-color: #eeeeeedd;
  color: black;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
}

.App__section-bottom {
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}
.App__section-event {
  color: var(--white);
  text-align: left;
  padding: 5px 0;
}
.App__section-event-image {
  width: 100%;
  height: auto;
  border-radius: 15px;
}
.App__section-event-name {
  min-height: 50px;
}
.App__section-event-time {
  padding-top: 10px;
  padding-bottom: 2px;
}
