p {
  font-size: 12x;
  color: var(--white);
}

.underline {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-skip-ink: auto;
}

.eventDetails {
  min-height: 100vh;
  background-image: url(../img/space-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 100vw;
  min-height: 100vh;
}

.eventDetails__section {
  padding: 50px 10%;
  background: linear-gradient(
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.7) 30%,
    rgba(0, 0, 0, 0.3) 75%,
    rgba(0, 0, 0, 0.1) 90%,
    rgba(0, 0, 0, 0) 100%
  );
}
.eventDetails__section-top {
  display: grid;
  grid-template-columns: 2.3fr 1fr;
  padding-top: 100px;
  text-align: left;
}

.eventDetails__section-name {
  padding-top: 3%;
}

.eventDetails__section-time {
  display: grid;
  grid-template-rows: 2fr 4fr;
  align-items: center;
  padding-left: 30px;
}

.eventDetails__section-time-day {
  font-size: 64px;
  padding-top: 15px;
}

.eventDetails__section-time-hour {
  margin-top: 5px;
}

.eventDetails__section-permission {
  text-transform: capitalize;
  padding: 0;
  margin: 0;
}

.eventDetails__section-publicURL {
  padding: 0;
  margin: 0;
}

.eventDetails__section-event-related {
  margin-top: -30px;
}
.eventDetails__section-event-related-title {
  font-size: 24px;
  color: var(--white);
  font-weight: 600;
}

.eventDetails__section-event-related-link {
  color: #eeeeee;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 0 5px;
  line-height: 25px;
}

.underline:hover {
  color: #bebebe;
}

@media only screen and (max-width: 497px) {
  .eventDetails__section-top {
    grid-template-columns: 1fr;
    padding-top: 45px;
  }
  .eventDetails__section-time {
    padding: 0;
    display: block;
    padding-left: 0;
    
  }
  .eventDetails__section-time-part {
    padding-right: 0;
  }
  .eventDetails__section-event-related {
    margin-top: 50px;
  }
  .underline {
    font-size: 12px;
  }
  h2 {
    font-size: 38px;
  }
  h3 {
    font-size: 16px;
  }
}

@media only screen and (min-width: 498px) and (max-width: 830px) {
  .eventDetails__section-top {
    grid-template-columns: 1fr;
  }
  .eventDetails__section-time {
    padding: 0;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
  }
  .eventDetails__section-time-part {
    padding-right: 20px;
  }
  .eventDetails__section-event-related {
    margin: 0;
  }
  .underline {
    font-size: 12px;
  }
  h2 {
    font-size: 38px;
  }
  h3 {
    font-size: 16px;
  }
}
