:root {
  --white: #ffffff;
  --blue: #39a0da;

  --xl: only screen and (min-width: 1200px) and (max-width: 1919px);
  --lg: only screen and (min-width: 992px) and (max-width: 1199px);
  --md: only screen and (min-width: 768px) and (max-width: 991px);
  --sm: only screen and (max-width: 767px);
  --xs: only screen and (max-width: 575px);
  --xxs: (max-width: 375px);
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

h1 {
  font-family: Koulen;
  font-size: 64px;
  letter-spacing: 4px;
  text-align: center;
  padding: 0;
  margin: 0;
  color: var(--white);
}

h2 {
  font-family: Koulen;
  font-size: 56px;
  letter-spacing: 3px;
  color: var(--white);
  margin: 0;
  padding: 0;
  line-height: 55px;
}

h3 {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  color: var(--white);
}

h4 {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  color: var(--white);
  margin: 0;
}

h5 {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  color: var(--white);
}
