:root {
  --xl: only screen and (min-width: 1200px) and (max-width: 1919px);
  --lg: only screen and (min-width: 992px) and (max-width: 1199px);
  --md: only screen and (min-width: 768px) and (max-width: 991px);
  --sm: only screen and (max-width: 767px);
  --xs: only screen and (max-width: 575px);
  --xxs: only screen and (max-width: 375px);
}

.Login {
  background-image: url(../img/space-bg-login.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.Login__section {
  padding: 150px 0;
  /* background-color: goldenrod; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.Login__section-input {
  color: white;
  padding: 15px 0 15px 40px;
  font-family: Montserrat;
  font-size: 20px;
  width: 480px;
  border-radius: 40px;
  background-color: rgba(14, 7, 7, 0.6);
  border: 2px solid white;
  margin-bottom: 15px;
}

::placeholder {
  color: var(--white);
}

.Login__section-input-errormsg {
  position: absolute;
  font-family: Montserrat;
  font-size: 14px;
  color: #e5954a;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 0px;
}

.Login__section-submit {
  font-family: Montserrat;
  font-size: 20px;
  padding: 15px 0;
  width: 523px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  color: black;
  border-radius: 40px;
  border: none;
  margin-top: 60px;
  cursor: pointer;
}

.AccessDenied {
  background-image: url(../img/space-error-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.AccessDenied-message {
  text-align: center;
  font-family: Montserrat;
  font-size: 70px;
  font-weight: 600;
  color: var(--white);
  padding: 0px 0px 40px;
  margin-top: -40px;
}

.AccessDenied-Login {
  margin-top: -50px;
}

@media only screen and (max-width: 459px) {
  .Login {
    text-align: center;
  }
  .Login__section-input {
    width: 208px;
    font-size: 14px;
  }
  .Login__section-submit {
    width: 245px;
    font-size: 14px;
    margin-left: -10px;
  }
  h1 {
    font-size: 52px;
  }
  .Login__section-input-errormsg {
    margin-top: -50px;
  }
  .AccessDenied-message {
    font-size: 24px;
  }
}

@media only screen and (min-width: 460px) and (max-width: 620px) {
  .Login {
    text-align: center;
  }
  .Login__section-input {
    width: 280px;
    font-size: 14px;
  }
  .Login__section-submit {
    width: 325px;
    font-size: 14px;
    margin-left: -10px;
  }
  h1 {
    font-size: 52px;
  }
  .Login__section-input-errormsg {
    margin-top: -50px;
  }
  .AccessDenied-message {
    font-size: 30px;
  }
}
@media only screen and (min-width: 621px) and (max-width: 940px) {
  .AccessDenied-message {
    font-size: 35px;
  }
}
