.Login {
  background-image: url(../img/space-bg-login.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.Login__section {
  padding: 150px 10%;
  /* background-color: goldenrod; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.Login__section-input {
  color: white;
  padding: 15px 0 15px 40px;
  font-family: Montserrat;
  font-size: 20px;
  width: 480px;
  border-radius: 40px;
  background-color: rgba(14, 7, 7, 0.6);
  border: 2px solid white;
  margin-bottom: 15px;
}

::placeholder {
  color: var(--white);
}

.Login__section-submit {
  font-family: Montserrat;
  font-size: 20px;
  padding: 15px 0;
  width: 523px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 40px;
  border: none;
  margin-top: 60px;
  cursor: pointer;
}

.AccessDenied-message{
  text-align: center;
  font-family: Montserrat;
  font-size: 70px;
  font-weight: 600;
  color: var(--white);
  padding: 200px 0px 50px;
}
