.Login {
  background-image: url(../img/space-bg-login.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.Login__header {
  height: 70px;
  padding-top: 15px;
  /* background-color: red; */
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.Login__header-logo {
  height: 25px;
  pointer-events: none;
  /* background-color: cyan; */
  padding-left: 40px;
  cursor: pointer;
}

.Login__section {
  background-color: goldenrod;
}
